<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>web.AddCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindCookieServlet</servlet-name>
    <servlet-class>web.FindCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Find_Add_CookieServlet</servlet-name>
    <servlet-class>web.Find_Add_CookieServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/add_cookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindCookieServlet</servlet-name>
    <url-pattern>/find_cookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Find_Add_CookieServlet</servlet-name>
    <url-pattern>/find_addcookie</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
