<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <!-- 全局的初始化参数 -->
  <context-param>
  	<param-name>company</param-name>
  	<param-value>abc</param-value>
  </context-param>
  <!-- 监听器的配置 -->
  <listener>
  	<listener-class>web.CountListener</listener-class>
  </listener>
  <!-- filter的配置 -->
  <servlet>
    <servlet-name>SomeServlet</servlet-name>
    <servlet-class>web.SomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OtherServlet</servlet-name>
    <servlet-class>web.OtherServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>SomeServlet</servlet-name>
    <url-pattern>/some</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherServlet</servlet-name>
    <url-pattern>/other</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
